---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";

const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>This is my amazing subtitle</h2>
	<Greeting client:load messages={["Hello", "Hi", "What's up?", "PENTAKILL", "42", "Life is meaningless without love", "Howdy", "Hey there", "Who ate my spaget?"]} />
</BaseLayout>